
.form{
    width: 400px;
    display: flex;
    z-index: 5px;
}

.topog{
    font-size: 25pt;
    margin-bottom: 20pt;

}

.pad{
    margin-bottom: 20px;
}
.circle{
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: azure;
    display: flex;
    right: 200px;
    border-radius: 100%;
    animation: alt 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@keyframes alt {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.2);
    }
    100%{
        transform: scale(1);
    }
}